.tittle {
    background-color: #D3D3D3;
}

.userDataWrapper {
    display: flex;
    justify-content: space-between;
}

.userData {
    display: flex;
    flex-direction: column;
    gap: 20px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}